@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<!-- Next steps-->
<!-- Make navbar sticky-->
<!-- Highlight current page on navbar-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <header id="navbar">
        <nav class="body-content center">
            <ul id="nav_links">
                <li class="nav-head"><a href="index.html">MealGuide</a></li>
                <li class="nav-follow"><a href="index.html">Home</a></li>
                <li class="nav-follow"><a href="master.html">Master</a></li>
                <li class="nav-follow"><a href="detail.html">Detail</a></li>
                <li class="nav-follow"><a href="about.html">About</a></li>
            </ul>
        </nav>
    </header>

    <div class="body-content center">

        <div class="jumbotron">
            <h1>Meal Guide</h1>
            <h4>Know your food quality</h4>
            <img id="food" src="https://s3.amazonaws.com/zweb-s3.uploads/ez2/wp-content/uploads/2018/09/diet-1900x850.jpg" alt="food">
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Welcome to MealGuide</h2>
                <p>
                    Counting calories is the standard when you want to control your diet - whether it's losing weight, building
                    muscle or maintaining your current condition. However, as stated in a <a href="https://www.healthline.com/nutrition/best-macronutrient-ratio">healthline article</a>, "calories don't explain the whole story".
                </p>
            </div>
            <div class="col-md-4">
                <h2>MealGuide</h2>
                <p>MealGuide takes the analysis, compilation, and presentation of nutrient and food component data to a new level.</p>
            </div>
            <div class="col-md-4">
                <h2>Overview</h2>
                <p>
                    <a href="https://www.healthline.com/nutrition/best-macronutrient-ratio">Healthline</a> says "Food and its macronutrient composition can influence how hungry or full you feel, your
                    metabolic rate, brain activity and hormonoal response." MealGuide uses the FDC Dataset, which provides a broad
                    snapshot in time of the nutrients and other components found in a variety of foods and food products.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
