@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <header id="navbar">
        <nav class="body-content center">
            <ul id="nav_links">
                <li class="nav-head"><a href="index.html">Diet with Burgers</a></li>
                <li class="nav-follow"><a href="index.html">Home</a></li>
                <li class="nav-follow"><a href="menu.html">Master Menu</a></li>
                <li class="nav-follow"><a href="details.html">Details</a></li>
                <li class="nav-follow"><a href="about_us.html">About Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="body-content center">

        <div class="jumbotron">
            <h1>Diet with Burgers</h1>
            <h4>Know your perfect Burger for your Diet </h4>
            <img id="food" src="img/food.png" alt="food">
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Welcome to Diet with Burgers</h2>
                <p>
                    Diet with Burgers gives you visibility into the key nutrients of each meal you consume.
                    Our recipes feature details about the per person calorie intake along with the macronutrient breakup to
                    help you be more aware about your nutrition.

                </p>
            </div>
            <div class="col-md-4">
                <h2>Diet with Burgers</h2>
                <p>Diet with Burgers brings nutritional and dietary component data analysis, compilation, and display to a new level..</p>
            </div>
            <div class="col-md-4">
                <h2>Overview</h2>
                <p>
                    <a href="https://www.healthline.com/nutrition/best-macronutrient-ratio">Healthline</a> says A person's hunger, fullness,
                    metabolic rate, brain activity, and hormonal reaction can all be influenced by food and its macronutrient makeup.
                    Dietary data from the FDC Dataset is used by MealGuide.
                    This database contains information on nutrients and other components present in a wide range of meals and food items..
                </p>
            </div>
        </div>
    </div>
</body>
</html>