@{
    ViewBag["Title"] = "Brief Description of us:";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

        html {
            box-sizing: border-box;
        }

        *, *:before, *:after {
            box-sizing: inherit;
        }

        .column {
            float: left;
            width: 33.3%;
            margin-bottom: 16px;
            padding: 0 8px;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: 8px;
        }

        .about-section {
            padding: 50px;
            text-align: center;
            background-color: #474e5d;
            color: white;
        }

        #about .container {
            padding: 0 16px;
        }

        .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
        }

        #about .title {
            color: grey;
        }

        #about .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
        }

        .button:hover {
            background-color: #555;
        }
    </style>

</head>
<body>

    <div class="body-content center">
        <div id="about-section">
            <h1>About Us Page</h1>
            <p>About our team worked on this project</p>
        </div>

        <div id="about">
            <h2 class="text-center">Our Team</h2>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="img/shirish.png" alt="Photo" style="width:100%">
                        <div class="container">
                            <h2>Shirish Krishna Sai Yalavarthy</h2>
                            <p class="title">Graduate Student</p>
                            <p>
                                I'm Shirish Yalavarthy, pursuing masters in Business analytics and
                                Information systems. I have always been fascinated about the web
                                technologies which is why I liked this course. My contribution to this
                                assignment has been with html and css code in Home and About pages. Also helped
                                the team with designing logical data model for the database.
                            </p>
                            <p>shirishkrishnasai@usf.edu</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="img/sravya.png" alt="Photo" style="width:100%">
                        <div class="container">
                            <h2>Sravya Datla</h2>
                            <p class="title">Graduate Student</p>
                            <p>
                                I am Sravya Datla, studying Masters in Business Analytics and
                                Information Systems. My Interests are in Cloud, BigData and DevOps. I
                                assisted in designing the Menu and Details pages. And suggested in
                                organizing the contents of the page and in designing the logical data
                                model.
                            </p>
                            <p>datla13@usf.edu</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="img/sashanth.png" alt="Photo" style="width:100%">
                        <div class="container">
                            <h2>Sashanth Embakula</h2>
                            <p class="title">Graduate Student</p>
                            <p>
                                I am Sashanth Embakula, My areas of interest include Statistical Data mining and creating
                                regression models. I also like to create data visualisations. I helped
                                in creating the Database linking and linking API to the webpage.
                            </p>
                            <p>embakula@usf.edu</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <br>
            <h2>Data Model</h2>
            <img id="erd" class="center image" src="./img/datamodel.png">
            <br>
        </div>
    </div>
</body>
</html>